<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FoilPackInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FoilPackInstaller.Properties.Settings.ModDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ModData.mdb"
            providerName="System.Data.OleDb" />
        <add name="FoilPackInstaller.Properties.Settings.ConnectionString"
            connectionString="Data Source=moddatabase.crjijo35lslg.eu-west-2.rds.amazonaws.com;Initial Catalog=ModData;Persist Security Info=True;User ID=admin;Password=m145Yth7UnCa"
            providerName="System.Data.SqlClient" />
        <add name="FoilPackInstaller.Properties.Settings.ModData" connectionString="Data Source=moddatabase.crjijo35lslg.eu-west-2.rds.amazonaws.com;Initial Catalog=ModData;User ID=User;Password=login"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FoilPackInstaller.Properties.Settings>
            <setting name="LatestForgeLink" serializeAs="String">
                <value>https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.12.2-14.23.5.2768/forge-1.12.2-14.23.5.2768-installer.jar</value>
            </setting>
        </FoilPackInstaller.Properties.Settings>
    </applicationSettings>
</configuration>